<div class="footer">
  <div class="footer-container">
    <div class="copyright">
      <h2>Dress up!</h2>
      <p class="footer-info">Copyright Dress-up GmbH 2021</p>
      <p class="footer-info">All rights reserved </p>
    </div>

    <div class="footer-column">
      <h3>Company</h3>
      <p class="footer-link">About us</p>
      <p class="footer-link">FAQ</p>
      <p class="footer-link">Careers</p>
      <p class="footer-link">Blog</p>
      <p class="footer-link">Contact us</p>
    </div>

    <div class="footer-column">
      <h3>Legal</h3>
      <p class="footer-link">Legal notice</p>
      <p class="footer-link">Terms of Service</p>
      <p class="footer-link">Privacy policy</p>
    </div>

    <div class="footer-column">
      <h3>Follow us</h3>
      <div class="links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
