<div class="navbar">
  <h1 class="logo">Dress up!</h1>
  <div class="btn-left">
    <% if current_user %>
      <a href="#">My Dresses</a>
      <a href="#">My Bookings</a>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
    <img class="avatar" src="https://images.pexels.com/photos/818819/pexels-photo-818819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="profile picture">
  </div>
</div>
