<div class="container">
  <h2>Welcome to our page!</h2>
  <div class="search-input">
    <div class="form">
      <label for="address-input">Insert your address:</label><br>
      <input type="text" name="address" id="address-input">
      <input type="submit" value="search">
    </div>
  </div>
</div>
