/* Dress Card in Index */

.cards .card-dress-image {
  width: 100%;
  height: 560px;
  object-fit: cover;
}

.card-dress:hover .card-dress-image {
  box-shadow: 8px 8px 0px 0px #6951FF;
  &h2 {
    color: #323232;
  }
}

.card-dress:hover h2, p {
  color: #323232;
}

.card-dress-infos {
  padding: 16px;
  text-align: center;
}

.card-dress h2 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 4px;
}


/* Bookings Card in Index */

.bookings-card {
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}

.bookings-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.bookings-card:hover .bookings-card-info a {
    color: #323232;
}

.bookings-card-info {
  padding-left: 20px;
}

.bookings-card-info h2 {
  font-size: 20px;
}

.bookings-card-info p {
  padding: none !important;
}

.bookings-card-info a {
  color: #323232;
}
