// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "dresses";

// colors
$blackish: #323232;
$purple: #6951FF;
$dark-purple: #5b46dd;

body {
  background-color: #fafafa;
  color: $blackish;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: $purple;
  &:hover {
    color: #4e3dbf;
  }
}

.dress {
  color: $blackish;
  &:hover {
    color: $purple;
  }
}

.img-home {
  height: 550px;
  background-image: url('https://images.pexels.com/photos/1488507/pexels-photo-1488507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.6);
}

// height - footer-height
.site-content-wrapper {
  min-height: calc(100vh - 70px);
}

.results-number-title {
  margin-top: 25px;
}
