// index top & button

.top .add {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.search {
  display: flex;
  margin-bottom: 32px;
  #address-input {
    max-width: 430px;
    flex-grow: 1;
  }
  .btn {
    margin-left: 8px;
  }
}

// index search results
.results-number-title {
  h3 {
    font-weight: 400;
    font-size: 14px;
    color:#495057;
    opacity: 80%;
    font-style: italic;
  }
}

// index cards-map

.cards-map{
  display: flex;
  justify-content: space-between;
}

// index card order

.cards {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 24px;
  margin-bottom: 21px;
}

// home & my dresses cards order

.cards-home {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 24px;
  margin-bottom: 21px;
}

/* Media queries */


@media(max-width: 1200px) {
.cards {
  grid-template-columns: 1fr 1fr;
}
.cards-home {
  grid-template-columns: 1fr 1fr;
}
}



@media(max-width: 768px) {
.main-content {
  display: block;
}
.cards {
  grid-template-columns: 1fr;
}
.cards-home {
  grid-template-columns: 1fr;
}
#map {
  display: none;
}
}
