// index top & button

.top .add {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.search {
  display: flex;
  #address-input {
    max-width: 430px;
    flex-grow: 1;
  }
  .btn {
    margin-left: 8px;
  }
}

// index card order

.cards {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-bottom: 21px;
}

/* Media queries */


@media(max-width: 1200px) {
.cards {
  grid-template-columns: 1fr 1fr;
}
}

@media(max-width: 992px) {
.main-content {
  display: block;
}
.cards {
  grid-template-columns: 1fr 1fr;
}
.top {
  display: block;
}
.top h1, .btn {
  margin-bottom: 20px;
}
}

@media(max-width: 768px) {
.main-content {
  display: block;
}
.cards {
  grid-template-columns: 1fr;
}
}
