<div class="window">
  <div class="info">
    <h2><%= link_to "#{dress.title.capitalize}", dress_path(dress) %></h2>
    <p><strong>Address: </strong><%= dress.address %></p>
    <p><strong>Price: </strong><%= dress.price %> € / day</p>
  </div>
</div>
