<h1>All dresses</h1>
<ul>
  <% @dresses.each do |dress| %>
    <li>
      <%= dress.title %> | <%= link_to "delete", dress_path(dress), method: :destroy, data: { confirm: "Are you sure?"}  %>
    </li>
  <% end %>
</ul>
